@import url('reset.css');

/* General Demo Style */
body{
	background:#e4ebe9 url(../../images/pattern8.png) repeat top left;
	color:#000;
	font-family: Helvetica, Tahoma, sans-serif;
	font-size:12px;
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
h1, h5{
	margin:15px;
	font-size:44px;
	color:#000;
	font-family: Helvetica, Tahoma, sans-serif;
	text-shadow:1px 1px 1px #fff;
	text-align:center;
}
h1 span, h5{
	font-size:20px;
	display:block;
	color:#60817a;
}
/* Header Style */
.header{
	height:25px;
	line-height:24px;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	z-index:4;
}
.header a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	text-align:right;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	position:absolute;
	right:4px;
}
.container{
	width:990px;
}
/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:990px;
	height:450px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}
.ca-more, .ca-more2{
	/*
	position: absolute;
	bottom: 10px;
	right:0px;
	*/
	padding:4px 15px;
	font-weight:bold;
	font-size:14px;
	background: #B0CCC6;
	text-align:center;
	color: #333;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(../../images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:20px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#fff;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.ca-icon{
	width:233px;
	height:189px;
	position:relative;
	margin:0 auto;
}

.ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#000;
	margin-bottom:20px;
	height:85px;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
	font-family: Helvetica, Tahoma, sans-serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-family: Helvetica, Tahoma, sans-serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: Helvetica, Tahoma, sans-serif;
	color:#005763;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: Helvetica, Tahoma, sans-serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}

.ca-icon div#img_admin{
	background:url(../../images/icon/admin.png) no-repeat center center;
	width:100%;
	height:100%;
}
.ca-icon div#img_akad{
	background:url(../../images/icon/akad.png) no-repeat center center;
	width:100%;
	height:100%;
}
.ca-icon div#img_peg{
	background:url(../../images/icon/peg.png) no-repeat center center;
	width:100%;
	height:100%;
}
.ca-icon div#img_pdpt{
	background:url(../../images/icon/pdpt.png) no-repeat center center;
	width:100%;
	height:100%;
}
.ca-icon div#img_pmb{
	background:url(../../images/icon/pmb.png) no-repeat center center;
	width:100%;
	height:100%;
}
.ca-icon div#img_profil{
	background:url(../../images/icon/profil.png) no-repeat center center;
	width:100%;
	height:100%;
}
.ca-icon div#img_password{
	background:url(../../images/icon/password.png) no-repeat center center;
	width:100%;
	height:100%;
}
.ca-icon div#img_out{
	background:url(../../images/icon/out.png) no-repeat center center;
	width:100%;
	height:100%;
}
.rolename{
	font-weight:bold;
}
.role_container{
	cursor:pointer;
}
.role_container:hover{
	text-decoration:underline;
	color:red;
}
#top {
	float:right;
	background:#fff;
	padding:5px 10px;
	margin-top: 5px; 
	margin-right: 3px;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

#top .out{
	background:url(../../images/icon/out_small.png) left center no-repeat;
	padding-left:20px;
	cursor:pointer;
}

#top .out:hover {
	color:red;
}