body {
    margin:0;
    padding:10px;
    line-height: 1.4em;
    word-spacing:1px;
    letter-spacing:0.2px;
    font: 13px Arial, Helvetica,"Lucida Grande",serif;
    color: #000;
}
h1 {
	font-size:20px;
}
h2 {
	font-size:16px;
}
h3 {
	font-size:13px;
}
h1, h2, h3, h4 {
	margin:0;
	margin-bottom:10px;
}
table.data_grid {
	background: white;
	border-collapse: collapse;
}
table.data_grid th, table.data_grid td {
	font-size: 11pt;
	border: 1px #000 solid;
	padding: 0.3em;
}
table.data_grid th {
	text-align: center;
}
table.data_grid td {
	text-align:left;
	vertical-align:top;
}